body{
    background: lightgreen;
    font-family: 'Akaya Telivigala', cursive;
}
.header_div{
    background: lightseagreen;
    color: white;
}
.header_div p{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.main_div button{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-weight: bolder;
    width: 130px;
}
.footer{
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: rgb(0, 255, 255);
    line-height: 3;
    text-shadow: 5px 5px 5px rgb(255, 255, 255);
    font-family: Comic, cursive;
}
h4{
    font-size: 25px;
}